<div class="container d-flex justify-content-center align-items-center">
  <div class="narrativa d-flex justify-content-center align-items-center flex-column ml-25 mr-25">
    <h1 class="text-center ml-25 mr-25">Capítulo 1: O Início da Jornada do Alquimista Aprendiz</h1>
    <img src="assets/images/png/alquimia.png">
  
    <div class="ml-25 mr-25">
      <p><span>Bem-vindo, Explorador da Física!</span> Sua jornada para desvendar os mistérios do universo começa agora. 
        Desafios e descobertas o aguardam, e a 
        <span>Física</span> 
        será sua maior aliada.
        Mantenha sua mente afiada e sua curiosidade sempre acesa!</p>

        <!--
        <p>Lembre-se, alquimia não é apenas misturar substâncias. 
        É sobre compreender a essência de cada elemento e como eles interagem para criar algo maior do que a soma de suas partes. 
        Está pronto para descobrir os segredos da transmutação e a criação de elixires poderosos?</p>
        -->
        
        <p>Que a jornada comece! ⚡</p>
        <div class="width-full d-flex justify-content-center mb-2">
          <button class="btn btn-secondary mt-10" (click)="onClick()">Iniciar Jornada</button>
        </div>
        
    </div>

  </div>
</div>