
.container-quiz{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  min-height: 100vh;
}
.header {
  background: #4158D0;
  color: white;
  padding: 10px;
  width: 100%;


  div{
    max-width: 800px;
    width: 100%;
  }
}

.player{
  align-items: center;
  max-width: 300px;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: start;

  h4 {
    margin: 0;
    width: 100%;
  }


}

.pontuacao{
  align-items: center;
  max-width: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  align-items: end;

  h4 {
    margin: 0;
    width: 100%;
  }
}


.container{
    width: 100%;
    height: 800px;
    margin-bottom: 10px;
    //background-color: #bebebe;
    padding: 0;
    
    

    .content-quiz{
      height: calc(100% - 60px);
      padding: 40px 20px 0px 20px;
      border-radius: 10px;
      max-width: 600px;
      width: 100%;

      .quiz{
        height: 600px;

        h2{
            height: auto;
            width: auto;
            background: white;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 18px 20px 20px 18px;
        }

        ul{
            max-width: 600px;
            width: 100%;
            padding: 0px;
            gap: 15px;
    
            li{
                width: 100%;
                font-size: 20px;
                height: 80px;
                background-color: white;
                border: 1px solid transparent;
                border-radius: 10px;
                padding: 12px;

                &:hover{
                  background-color: #f0f0f0;
                  cursor: pointer;
                }
                
                input[type="radio"] {
                  width: 20px;
                  height: 20px;
                  margin-right: 10px;
                  appearance: auto;
                  accent-color: #8e00ff;
                }

                input[type="radio"]:checked + label {
                  border: 2px solid #8e00ff;
                }
      
                &.selected {
                  border: 4px solid #8e00ff;
                }

                .bold-option{
                  font-weight: bold;
                }
            }
          }
          button{
            max-width: 400px;
            width: 100%;
            height: 50px;
            background-color: #4158D0;
            border: 2px solid #666d93;
          }
      }
    }  
    .tela-final{
      h2{
        font-size: 35px;
        color: white;
      }
      p{
        font-size: 20px;
        color: white;
      }

      button{
        max-width: 400px;
        width: 100%;
        height: 50px;
        background-color: #4158D0;
        border: 2px solid #666d93;
        color: white;
      }
    }
}


