<div class="container container-quiz m-0">
  <div class="header d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-between ml-25 mr-25">
      <div class="player d-flex">
        <h4 class="d-flex justify-content-start">Jogador:</h4>
        <h4 class="d-flex justify-content-start">{{ playerName }}</h4>
      </div>
      <div class="pontuacao d-flex">
        <h4 class="d-flex justify-content-end">Pontuação:</h4>
        <h4 class="d-flex justify-content-end">{{ score }}</h4>
      </div>
    </div>
  </div>
  <div class=" d-flex justify-content-center align-items-center flex-column ">
    <div class="content-quiz d-flex justify-content-center align-items-center ">
      <!-- Exibir Pergunta -->
      <div *ngIf="currentQuestionIndex < questions.length; else endQuiz" class="quiz d-flex justify-content-center align-items-center flex-column">
        <div class="mt-2 div-quiz">
          <h2>{{ questions[currentQuestionIndex].question }}</h2>
          <img 
          *ngIf="questions[currentQuestionIndex]?.image" 
          [src]="questions[currentQuestionIndex]?.image" 
          class="question-image">
        </div>
        <ul class="mt-50 d-flex justify-content-center flex-column align-items-start">
          <li *ngFor="let option of questions[currentQuestionIndex].options"
              [class.selected]="selectedAnswer === option"
              (click)="selectAnswer(option)"
              class="d-flex align-items-center justify-content-start">
            <label class="bold-option">
              <input type="radio" name="answer" [checked]="selectedAnswer === option">
              {{ option }}
            </label>
          </li>
        </ul>
        <button class="btn btn-secondary mt-10" (click)="checkAnswer()">Verificar Resposta</button>
      </div>

      <!-- Fim do Quiz -->
      <ng-template #endQuiz>
        <div class="tela-final d-flex flex-column">
          <h2>Quiz Finalizado!</h2>
          <p>Sua pontuação: {{ score }} de {{ questions.length }}</p>
          <button *ngIf="false" class="btn" routerLink="/leaderboard">Ver Placar</button>
          <button class="btn" routerLink="/player" (click)="reset()">Tentar novamente</button>
          <button class="btn" routerLink="/">Tela inicial</button>
          <button class="btn" (click)="generatePDF()">Baixar Resultado em PDF</button>
        </div>
      </ng-template>
    </div>
  </div>

  <app-modal 
  [isVisible]="isVisible" 
  title="Você Sabia?"
  (closeModalEvent)="closeModal()"
  background="white">
    <div>
      <h4>Resposta correta: {{ response }}</h4>
      <p>{{ message }}</p>
      <button class="btn" (click)="closeModal()">Continuar</button>
    </div>
  </app-modal>
</div>
