.container-indicate {
    background-color: #4158D0;
    background-image: linear-gradient(160deg, #ffcc00 0%, #cf4242 40%, #3facd7 80%, #0a0a2a 100%);
    min-height: 100vh;

    div{
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
}
.quiz-form {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #acad38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #c4c456;
    }
  }
}
